
body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.buttons {
  display: flex;
  flex-wrap:wrap;
  align-items:center;
  justify-content:space-evenly;
  flex-direction:row;
 
  
}

.manipulation{
  display:flex;
  flex-direction:column;
  background-color:white;
  padding: 2em;
  width:300px;
  text-align:center;
}

button{
 background-color:#aa5458;
 border-radius:27px;
 padding: 8px 20px;
 color:white;
 border-color: white;
 
}


.buttons img{
  height:5em;
  width:5em;
  margin-left:37%;
  border-radius:50%;

  
}

.manipulation h5{
  background-color:white;
  color:#aa5458;

}



